.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-width: 100vh;
}

.Table {
	padding-left: 10%;
	padding-top: 1%;
	padding-right: 10%;
	padding-bottom: 10%;
}

.main-footer {
	margin-top: calc(10px);
	bottom: 0;
	background-color: #2667ff;
	color: #fffaff;
	height: 80px;
	padding-top: 2em;
	position: fixed;
	width: 100%;
}

.content-wrap {
	flex: 1;
}

.intro {
	padding-left: 10%;
	padding-top: 3%;
	padding-right: 10%;
	padding-bottom: 3%;
}
